include header.pug
main
  .container
    #wizard_container
        //
            form#wrapped(name='example-1', method='POST')
                input#website(name='website', type='text', value='')
        #middle-wizard
          .step(data-state='branchtype')
            .question_title
              h3#question Entrez une question
              p#description Entrez une courte description
            .row.justify-content-center
                .col-lg-4(style='margin-bottom:25px')
                  .item#add_answer
                    label                    
                        strong 
                            i.icon-plus
                            | Ajouter
                        span Réponse, description
                      
        #bottom-wizard
          button.forward(type='button', name='forward') Créer le sondage
          p(style="display:none;font-size:18px;")
              img(src="/img/loader.gif", style="margin-right:10px")
              | Création en cours...
          
        form#form-wizard(action='/create', method='POST')
            input#form-data(type='hidden', name='data', value='')
          
        script(src='//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js')
        script(src='/js/create.js')

include footer.pug
