include header.pug
main
  .container
    #wizard_container
        #middle-wizard
          .step(data-state='branchtype')
            .question_title
              h3 Bienvenue
              p Découvrez les sondages publics que nos utilisateurs ont créés.
            .row.justify-content-center
              each poll in polls
                  .col-lg-4
                    .item
                      //input.required(type='radio', name='branch_1_group_1', value='Seo-Optimization')
                      a(href='/poll/' + poll.id)
                          label(for='answer_1')
                            if poll.background
                              img(src='img/uploads/' + poll.background, alt='')
                            strong #{poll.question}
                            | Publié par #{poll.user.firstname} #{moment(poll.createdAt).fromNow()}

include footer.pug
