include header.pug
main
  .container
    #wizard_container        
        #middle-wizard
          .step(data-state='branchtype')
            .question_title
              h3 Connexion
              p Connectez-vous pour créer et gérer vos sondages
          .row.justify-content-center
            .col-lg-5
              .box_general(style='margin-bottom:50px')
                form(method='POST')
                    .form-group
                      input.form-control(type='email', name='username', placeholder='Adresse e-mail', required)
                    .form-group
                      input.form-control(type='password', name='password', placeholder='Mot de passe', required)
                    .form-group(style='margin-bottom:0;text-align:center;')
                      button.submit(type='submit', name='login') Valider
                hr
                p(style='margin-bottom:0;text-align:center;') Pas encore de compte ? 
                    a(href='/register') Créer un compte
    script(src='/js/ajax/login.js')
include footer.pug
